In [32]:
import sqlite3
conn = sqlite3.connect('School1.db')
conn.execute("PRAGMA foreign_keys = 1")
cursor = conn.cursor()

In [33]:
cursor.execute(
'''CREATE TABLE IF NOT EXISTS SUBJECTS (id INTEGER PRIMARY KEY, name TEXT NOT NULL) '''
)

In [35]:
cursor.execute(
'''CREATE TABLE IF NOT EXISTS STUDENTS (student_id INTEGER PRIMARY KEY, name TEXT NOT NULL,subject_id INTEGER,marks INTEGER,FOREIGN KEY (subject_id) REFERENCES SUBJECTS (id)) '''
)

In [39]:
cursor.execute("INSERT INTO STUDENTS (name, subject_id,marks) VALUES ('AP', 2,20)")
cursor.execute("INSERT INTO STUDENTS (name, subject_id,marks) VALUES ('BP', 1,30)")
cursor.execute("INSERT INTO STUDENTS (name, subject_id,marks) VALUES ('CP', 1,40)")
cursor.execute("INSERT INTO STUDENTS (name, subject_id,marks) VALUES ('DP', 3,50)")
cursor.execute("INSERT INTO STUDENTS (name, subject_id,marks) VALUES ('EP', 2,60)")

In [40]:
cursor.execute("INSERT INTO SUBJECTS (name) VALUES ('SSt')")
cursor.execute("INSERT INTO SUBJECTS (name) VALUES ('Maths')")
cursor.execute("INSERT INTO SUBJECTS (name) VALUES ('Eng')")
cursor.execute("INSERT INTO SUBJECTS (name) VALUES ('Hindi')")
cursor.execute("INSERT INTO SUBJECTS (name) VALUES ('Science')")

In [50]:
cursor.execute("""
SELECT STUDENTS.name, STUDENTS.marks, SUBJECTS.name 
FROM STUDENTS
JOIN SUBJECTS ON STUDENTS.subject_id = SUBJECTS.id
""")

In [51]:
result=cursor.fetchall()
result

[('AP', 20, 'Maths'),
 ('BP', 30, 'SSt'),
 ('CP', 40, 'SSt'),
 ('DP', 50, 'Eng'),
 ('EP', 60, 'Maths')]

In [52]:
conn.commit()

In [53]:
cursor.close()

In [54]:
conn.close()

### Object Relational Mapping

In [61]:

from sqlalchemy import create_engine,MetaData,Column,Integer,String,Float,Sequence
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy .orm import sessionmaker
from sqlalchemy import inspect

In [70]:
#set up the database and the base class
engine=create_engine('sqlite:///company_orm1.db')
Base=declarative_base()

In [69]:
class Employee(Base):
    __tablename__="employees"
    id=Column(Integer,Sequence('employee_id_seq'),primary_key=True)
    name=Column(String(50))
    age=Column(Integer)
    department=Column(String(50))
    salary=Column(Float)
    
    
    
    #Create the table
    
    etadata = MetaData()
    metadata.reflect(bind=engine)
    Base.metadata.create_all(engine)
    employees=metadata.tables['employees']
    
    
    inspector=inspect(engine)
    columns=inspector.get_columns('employees')
    
    print("Table 'employees' Details:")
    for column in columns:
        print(f"Column:{column['name']}-Type:{column['type']}")
              
              
              
              
              
    #create a session
              
    Session=sessionmaker(bind=engine)
    session=Session()
              
              
    # Add employee records
    employees=[
        Employee(name="a",age=30,department="HR",salary=70000),
        Employee(name="b",age=31,department="IT",salary=70000),
        Employee(name="c",age=33,department="Financce",salary=70000)
        
    ]          
              
              
    session.add_all(employees)
    session.commit
    
    #query the database
    all_employees=session.query(Employee).all()
    for emp in all_mployees:
        print(f"{emp.id}: {emp.name}-{emp.department} -${emp.salary}")

NameError: name 'Metadata' is not defined

In [78]:
from sqlalchemy import create_engine, MetaData, Column, Integer, String, Sequence
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import inspect

# Create the engine and base class
engine = create_engine('sqlite:///student23.db')
Base = declarative_base()

# Define the Students class
class Students(Base):
    __tablename__ = "STUDENTS"
    id = Column(Integer, Sequence('student_id_seq'), primary_key=True)
    name = Column(String(50))
    subject = Column(String(50))
    marks = Column(Integer)

# Create tables
Base.metadata.create_all(engine)

# Initialize MetaData and inspect
metadata = MetaData()
metadata.reflect(bind=engine)
inspector = inspect(engine)

# Print table details
print("Table 'STUDENTS' Details:")
columns = inspector.get_columns("STUDENTS")
for column in columns:
    print(f"Column: {column['name']} - Type: {column['type']}")

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Add student records
students_list = [
    Students(name="a", subject="b", marks=70),
    Students(name="b", subject="c", marks=70),
    Students(name="c", subject="c", marks=70)
]

session.add_all(students_list)
session.commit()

# Query the database
all_students = session.query(Students).all()
for stu in all_students:
    print(f"{stu.id}: {stu.name} - {stu.subject} - {stu.marks}")

Table 'STUDENTS' Details:
Column: id - Type: INTEGER
Column: name - Type: VARCHAR(50)
Column: subject - Type: VARCHAR(50)
Column: marks - Type: INTEGER
1: a - b - 70
2: b - c - 70
3: c - c - 70
4: a - b - 70
5: b - c - 70
6: c - c - 70

IndentationError: expected an indented block (<ipython-input-100-78230ddbd399>, line 63)

SyntaxError: unexpected EOF while parsing (<ipython-input-96-ad46d162ef79>, line 19)

NameError: name 'main' is not defined

In [101]:

import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Sequence
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

# Setup SQLAlchemy
engine = create_engine('sqlite:///student25.db')
Base = declarative_base()

class Students(Base):
    __tablename__ = "STUDENTS"
    id = Column(Integer, Sequence('student_id_seq'), primary_key=True)
    name = Column(String(50))
    subject = Column(String(50))
    marks = Column(Integer)

def create_table():
    Base.metadata.create_all(engine)
    print("Table STUDENTS created successfully")

def insert_sample_data():
    Session = sessionmaker(bind=engine)
    session = Session()
    
    # Add student records
    students_list = [
        Students(name="a", subject="b", marks=70),
        Students(name="b", subject="c", marks=70),
        Students(name="c", subject="c", marks=70)
    ]
    
    session.add_all(students_list)
    session.commit()
    session.close()
    print("Sample data inserted successfully")

def read_data():
    # Load data into DataFrame
    df = pd.read_sql("STUDENTS", con=engine)
    return df

def update_marks(df, id, new_marks):
    df.loc[df['id'] == id, 'marks'] = new_marks
    return df

def write_data(df):
    # Write DataFrame back to the database
    df.to_sql('STUDENTS', con=engine, if_exists='replace', index=False)
    print("Updated data written back to the database.")

def main():
    create_table()
    insert_sample_data()
    
    # Read data
    df = read_data()
    print("\nOriginal DataFrame:")
    print(df)
    
    # Update data
    print("\nUpdating marks for ID 2 to 100...")
    df = update_marks(df, 2, 100)
    
    print("\nUpdated DataFrame:")
    print(df)
    
    write_data(df)
    print("\nData updated in the database")
    
    # Verify update
    df = read_data()
    print("\nDataFrame after writing to database:")
    print(df)

if __name__ == "__main__":
    main()

Table STUDENTS created successfully
Sample data inserted successfully

Original DataFrame:
   id name subject  marks
0   1    a       b     70
1   2    b       c     70
2   3    c       c     70

Updating marks for ID 2 to 100...

Updated DataFrame:
   id name subject  marks
0   1    a       b     70
1   2    b       c    100
2   3    c       c     70
Updated data written back to the database.

Data updated in the database

DataFrame after writing to database:
   id name subject  marks
0   1    a       b     70
1   2    b       c    100
2   3    c       c     70