In [26]:
import sqlite3

In [28]:

try:
    conn = sqlite3.connect('school_2.db')

    cursor = conn.cursor()

    cursor.execute(
    ''' CREATE TABLE IF NOT EXISTS Students (ID INTEGER PRIMARY KEY, name TEXT NOT NULL, age INTEGER NOT NULL, grade TEXT) '''
    )

    cursor.execute(
    ''' CREATE TABLE IF NOT EXISTS Courses (COURSE_ID INTEGER PRIMARY KEY, course_name TEXT NOT NULL, instructor TEXT) '''
    )
    
    # Insert Data in Students
    print("Inserting Data in students..")
    cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh',23,'A')")
    cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh1',21,'A+')")
    cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh2',22,'B')")
    cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh3',25,'C')")
    cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh4',24,'D')")
    print("Inserted data in students.\n\n")
    
    # Insert Data in Students
    print("Inserting Data in Courses..")
    cursor.execute("INSERT INTO Courses (course_name,instructor) VAlUES ('AI','a')")
    cursor.execute("INSERT INTO Courses (course_name,instructor) VAlUES ('DAC','a')")
    cursor.execute("INSERT INTO Courses (course_name,instructor) VAlUES ('DBDA','b')")
    print("Inserted data in courses.\n\n")
    
    # Select student whose grade is 'A'
    cursor.execute("SELECT *  from Students where grade='A'")
    result=cursor.fetchall()
    print("Students whose grade is 'A': ",result)

    # Select ALL from courses
    cursor.execute("SELECT * FROM Courses")
    result = cursor.fetchall()
    print("All courses:\n", result)
    print()

    # Update Data
    cursor.execute("UPDATE Students SET grade = 'A' WHERE name = 'ashutosh4'")
    cursor.execute("UPDATE Courses SET instructor = 'AP' WHERE course_id = 2 ")
    conn.commit()

    cursor.execute("SELECT * FROM Students")
    result = cursor.fetchall()
    print("Updated student grade where name = 'ashutosh4': ", result)
    print()

    cursor.execute("SELECT * FROM Courses")
    result = cursor.fetchall()
    print("Updated course instructor where course_id = 2: ", result)
    print()


    # Delete a record
    cursor.execute("DELETE FROM Students where id = 4")
    conn.commit()
    cursor.execute("SELECT * FROM Students")
    result = cursor.fetchall()
    print("Deleted the record where student id = 4", result)



    cursor.execute("DROP TABLE Students")
    cursor.execute("DROP TABLE Courses")
    conn.commit()
except:
    print("An exception occured.")

finally:
    cursor.close()
    conn.close()

Inserting Data in students..
Inserted data in students.


Inserting Data in Courses..
Inserted data in courses.


Students whose grade is 'A':  [(1, 'ashutosh', 23, 'A')]
All courses:
 [(1, 'AI', 'a'), (2, 'DAC', 'a'), (3, 'DBDA', 'b')]

Updated student grade where name = 'ashutosh4':  [(1, 'ashutosh', 23, 'A'), (2, 'ashutosh1', 21, 'A+'), (3, 'ashutosh2', 22, 'B'), (4, 'ashutosh3', 25, 'C'), (5, 'ashutosh4', 24, 'A')]

Updated course instructor where course_id = 2:  [(1, 'AI', 'a'), (2, 'DAC', 'AP'), (3, 'DBDA', 'b')]

Deleted the record where student id = 4 [(1, 'ashutosh', 23, 'A'), (2, 'ashutosh1', 21, 'A+'), (3, 'ashutosh2', 22, 'B'), (5, 'ashutosh4', 24, 'A')]

In [30]:
# Handson: Constraints
import sqlite3

In [33]:
# try:

In [37]:
# 1. Establish a connection
conn = sqlite3.connect('company.db')
conn.execute("PRAGMA foreign_keys = 1")
cursor = conn.cursor()

In [47]:
# 2. Create deparments table with primary key
cursor.execute(
'''CREATE TABLE IF NOT EXISTS departments (dept_id INTEGER PRIMARY KEY, dept_name TEXT NOT NULL) '''
)

In [50]:
# 3. Create table 'employees' with primary key and foreign key
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees 
    (employee_id INTEGER PRIMARY KEY, 
    employee_name TEXT NOT NULL,
    department_id INTEGER,
    FOREIGN KEY (department_id) REFERENCES departments (dept_id))''')

In [52]:
# 4 Create indexes
cursor.execute('CREATE INDEX IF NOT EXISTS idx_employee_name ON employees (employee_name)')
cursor.execute('CREATE INDEX IF NOT EXISTS idx_department_name ON employees (department_id)')

In [54]:
cursor.execute("INSERT INTO departments (dept_name) VALUES ('HR')")
cursor.execute("INSERT INTO departments (dept_name) VALUES ('Engineering')")
cursor.execute("INSERT INTO departments (dept_name) VALUES ('Sales')")

In [55]:
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('AP', 2)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('BP', 1)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('CP', 1)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('DP', 3)")
cursor.execute("INSERT INTO employees (employee_name, department_id) VALUES ('EP', 2)")

In [56]:
conn.commit()

In [25]:
print("Employees and their departments: ")