### Q:   What is Data?
##### Ans: Raw,Unprocessed facts,figures or symbols

###### Types
* Structured
* Unstructed
* Semi Structured
* Quantitative data
* Qualitative data


###### Method of data collection
* Survey and questionnarires
* Experiments
* Observations
* Sensors and Devices

###### Charateristics of database management
* organised
* secure
* accessible
##### Benefits
* efficient data storage and retrieval
* data integrity and security
* handling large volumes of data

###### Database Types
* relational
    *mysql
    *sqllite
* no sql

 ## SQLite Database
 
 * Inbuilt database in python_standard library-SQLite3
 * Most widely deployed databases in the wprld
 * C language library
 * Provides a sql database engine
 * Cross platform
 * Databases are stored as files on disk
 * ACID compliant
 * lightweight

### Sqlite objects

* connection object
    provides means to interact with database
* cursor object

In [8]:
import sqlite3

# 1. establish a connection to the database
conn=sqlite3.connect('DAIBATCH2024.db')

# 2. Create a cursor object
cursor = conn.cursor()
cursor.execute("DROP TABLE users")
# 3. Create table if doesn't exists
cursor.execute(
'''CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)'''
)

# 4. Insert some data
cursor.execute("INSERT INTO users (name, age) VALUES ('Aaryan Pal', 23)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Ankit', 22)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Abhishek', 24)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Paras', 22)")
cursor.execute("INSERT INTO users (name, age) VALUES ('Harshit', 20)")

# 5. Commit the transaction
conn.commit()

print("All records: \n")
cursor.execute("SELECT * FROM users")
print("Order By clause:\n")
cursor.execute("SELECT * FROM users ORDER BY age")

while True:
    row = cursor.fetchone()
    if row is None:
        break
        
    print(row)
    
# 7. Query with GROUP BY
print("\nUsers granted by age with count:")
cursor.execute("SELECT age, COUNT(*) as count FROM users GROUP BY age")
results = cursor.fetchall()
for row in results:
    print(row)


cursor.execute("UPDATE users SET age = 30 WHERE name = 'Paras'")
results = cursor.fetchall()
for row in results:
    print(row)
    
cursor.execute("SELECT * FROM users where name like 'Paras'")
results = cursor.fetchall()
print(results)

# 8. Close the cursor and connection
cursor.close()
conn.close()

All records:

Order By clause:

(5, 'Harshit', 20)
(2, 'Ankit', 22)
(4, 'Paras', 22)
(1, 'Aaryan Pal', 23)
(3, 'Abhishek', 24)

Users granted by age with count:
(20, 1)
(22, 2)
(23, 1)
(24, 1)
[(4, 'Paras', 30)]

# **Assignment 1**

In [59]:
import sqlite3

In [60]:
conn = sqlite3.connect('school.db')

cursor = conn.cursor()
cursor.execute("DROP TABLE Students")
cursor.execute("DROP TABLE Courses")

In [ ]:
cursor.execute(
''' CREATE TABLE IF NOT EXISTS Students (ID INTEGER PRIMARY KEY, name TEXT NOT NULL, age INTEGER NOT NULL, grade TEXT) '''
)

In [ ]:
cursor.execute(
''' CREATE TABLE IF NOT EXISTS Courses (COURSE_ID INTEGER PRIMARY KEY, course_name TEXT NOT NULL, instructor TEXT) '''
)

In [57]:
cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh',23,'A')")

OperationalError: database is locked

In [ ]:
cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh1',23,'A')")
cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh2',23,'b')")
cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh3',23,'c')")
cursor.execute("INSERT INTO Students(name,age,grade) VAlUES ('ashutosh4',23,'d')")

In [ ]:
conn.commit()

In [ ]:
cursor.execute("INSERT INTO Courses (course_name,instructor) VAlUES ('Ai','a')")

In [ ]:
cursor.execute("INSERT INTO Courses (course_name,instructor) VAlUES ('dac','a')")
cursor.execute("INSERT INTO Courses (course_name,instructor) VAlUES ('dbda','b')")

In [53]:
cursor.execute("SELECT *  from Students where grade='A'")
result=cursor.fetchall()
print(result)

[(1, 'ashutosh', 23, 'A'), (2, 'ashutosh', 23, 'A'), (3, 'ashutosh1', 23, 'A'), (7, 'ashutosh1', 23, 'A')]

In [58]:
# cursor.close()
# conn.close()

*Exception handling*
* Try
    All sql operation
* Except
    Handling of exception
* Finally block
    Closing cursors and connection

In [62]:
### Constraint

* Primary key,Uniqueness,NotNull,Index
* Foreign Key, Referential Integrity,Can be null

* Index: Primary key Index
* Unique Index
*Regular

SyntaxError: invalid syntax (<ipython-input-62-85cd8f0ea731>, line 3)

In [ ]:
SQL joins
* Left Joins
* Full Outer Joins
*